li.ui-li-has-thumb {
  img {
    height: 100%;
    top: 50% !important;
    margin-top: -2.5em;
  }
}

.ticket {
  img {
    width: 100%;
  }
  .purple-back {
  	background-color: #75039e;
  	color: yellow;
  }
}

ul.slides {
  li a{
    height: 160px;
    overflow-y: hidden;
    float: left;
  }
}

.important {
  color: black;
  font-size: 1.2em;
  font-weight: bolder;
}

.purple-circle {
  background-color: #75039e;
  color: yellow;
  padding: 5px;
  border-radius: 5px;
}

p {
  margin: 6px;
}
