<div id='top-deals'>
  <p class='title'><b>Top Deals in Your City</b></p>
  <div class='arrow'>
    <%= image_tag "yellow.png" %>
  </div>
  <div class="row">
    <% @top_tickets.in_groups_of(2) do |tickets| %>
      <div class='row'>
        <%= render partial: 'shared/ticket', collection: tickets, as: :ticket %>
      </div>
    <% end %>
  </div>
</div>
