<div id='slider' class="flexslider">
  <% if @tickets.present? %>
    <ul class="slides">
      <% @tickets.limit(5).each do |ticket| %>
        <li>
          <%= link_to image_tag(ticket.image), ticket %>
          <p class="flex-caption"><%= ticket.desc %></p>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $('.flexslider').flexslider({
      slideshow: true, 
      slideshowSpeed: 2000,
      animation: "slide",
      animationLoop: true,
      pauseOnHover: true,
      directionNav: true,
    });
  });
</script>
