<div id='slider' class="flexslider">
  <% if @tickets.present? %>
    <ul class="slides">
      <% @sliders.each do |slider| %>
        <li>
          <%= link_to image_tag(slider.slider_image), slider.ticket %>
          <p class="flex-caption"><%= slider.ticket.desc %></p>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $('.flexslider').flexslider({
      slideshow: true, 
      slideshowSpeed: 5000,
      animation: "slide",
      animationLoop: true,
      pauseOnHover: true,
      directionNav: true,
    });
  });
</script>
