<ul id='topbar' class="nav nav-justified">
  <% Category.limit(10).each do |category| %>
    <li>
      <%= link_to category.name, search_path(q: @search_conditions.update(category_name_cont: category.name)) %>
    </li>
  <% end %>
</ul>
