<div id="topbar">
  <% if controller_name == 'home' %>
    <div class="container">
      <ul>
        <% Category.limit(12).each do |category| %>
          <li>
          <%= link_to category.name, search_path('tickets_search[category_id_eq]' => category.id) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
