<ul id='topbar' class="nav nav-justified">
  <% Category.limit(10).each do |category| %>
    <li>
      <%= link_to category.name, search_path(category_id: category.id) %>
    </li>
  <% end %>
</ul>
