<%= render 'home/topbar' %>

<div class='row' id='main'>
  <div class='col-sm-3'>
    <%= render 'home/sidebar' %>
  </div>
  <div class='col-sm-9'>
    <%= render 'home/slider' %>
    <%= render 'home/popular' %>
  </div>
</div>
