<p class="feilds" style="display:none">
  <%= f.input_field :range_from, value: 5, as: :string %>
	<%= f.input_field :range_to, as: :string, :"data-max" => 12 %>	
	<%= f.input_field :price, as: :string %>
</p>