<div id="group-price-tiers" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h2 class="center yellow">Add group price for @ticket.name </h2>
			</div>
			<div class="modal-body">
				<%= render "price_tier_list" %>
				<%= render "price_tier_modal_form" %>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default-lg" id="group-price-tiers-add">
					<%= form.add_nested_fields_link :group_prices %></button>
			</div>
		</div>
	</div>
</div>
<%= javascript_include_tag "slider" %>
