<table id="group-price-tiers-table" class="table table-striped table-bordered table-condensed">
	<thead>
	  <tr class="purple-back">
		 <th class="center">Count Range</th>
		 <th class="center">Price Per Ticket</th>
	  </tr>
  </thead>
	<tbody>
	</tbody>
</table>