<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><%= link_to 'New Listing', new_mine_ticket_path ,class: " btn-xs button"%></li>
  </ul>
  <h1 class="text-center league-gothic">Ticket Listings</h1>
</div>
<div class="ticket-lists table-responsive">
	<%= render 'table' %>
</div>
<%= paginate @tickets %>
<%= page_entries_info @tickets %>
