#about-us {
	.about { 
		font-family: LeagueGothic;
	}
	
	.about-content {
		font-family: OpenSans;
		font-size:12px;
	}
	
	.specific {
		h3 {
			font-family: OpenSans;
			font-weight: 500;
			color: #75039e;
		}
		img {
			text-align: center;
			height: 100px;
		}
		
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
			  padding-left: 1em;
				text-indent: -.7em;
				&:before{
				  content: "˙";
					font-family: PMingLiu;
					color: #3e0053;
				}
			}
		}
	}
	
	.our-team {
		background-color: #000;
		font-family: OpenSans;
		font-weight: 500;
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
	}
	
	.biographical {
		img {
		  height:210px;
		}
		
		.name {
			font-family: Geogia;
			font-size: 32px;
		}
		
		.prosition {
			font-family: OpenSans;
			font-size: 21px;
		}
		
		.digest {
			font-family: OpenSans;
			font-size: 14px;
		}
		
	}
  .faq{
    h3 {
      padding-top: 20px;
      text-align: center;
      font-size:24px;
      color:#75039e;
    }
    h4{
      padding-left: 10px;
      padding-top: 15px;
      font-size:20px;
      color:#75039e;
      background-color:#fff;
    }
    p{
      padding-left: 10px;
      font-family:OpenSans;
    }
  }
}
