#new_user {
  input[type='email'], input[type='password'], input[type='text'], select {
    margin-top: 10px;
  }
}

#error_explanation {
  h2 {
    font-size: 18px;
  }
  ul li {
    font-size: 12px;
  }
}
