@import "color_defination";

.button {
	background:         linear-gradient($light_yellow, $dark_yellow);
	background:    -moz-linear-gradient($light_yellow, $dark_yellow);
	background: -webkit-linear-gradient($light_yellow, $dark_yellow);
	color: black;
}

#new-ticket, #edit-profile {
	background-color: $purple;
	border-radius: 5px;
	color: #ffffff;
	
	::-webkit-input-placeholder { color:$white; }
	::-moz-placeholder { color:$white; } /* firefox 19+ */
	:-ms-input-placeholder { color:$white; } /* ie */
	input:-moz-placeholder { color:$white; }
	
	h1 {
	  color: #fff200;
		text-align: center;
		font-family: 'opensans';
		font-weight: bold;
	}
	
	input {
		margin: 10px;
		background-color: $purple;
		border-color: $light_purple;
		color: white;
	}
	
	textarea {
		margin: 10px;
		background-color: $purple;
	  border-color: $light_purple;
		color: white;
		height: 90px;
		margin-bottom: 2px;
	}
	
	select {
		margin: 10px;
		background: $purple;
		border-color: $light_purple;
		color: white;
	}
  
	#additional_discount {
		padding-top: 10px;
		clear: both;
	}
	
	#student-discount {
		input{
			color: $light_purple;
			text-align: center;
		}
	}
	
	.frame {
		border: thin solid $light_purple;
		border-radius: 5px;
		margin: auto;
		height: 35px;
	}
	
	.btn {
		@extend .button;
		color: black;
	}
	
	a {
		color: $light_yellow;
		&:hover{
		  color: $dark_yellow;
		}
	}
	
	#shipping-fee {
		input {
			text-align: center;
		}
	}
	
	.will-call {
		padding-top:10px;
	}
}
