#about-us {
	.about { 
		font-family: LeagueGothic;
	}
	
	.about-content {
		font-family: OpenSans;
		font-size:12px;
	}
	
	.specific {
		h3 {
			font-family: OpenSans;
			font-weight: 500;
			color: #75039e;
		}
		img {
			text-align: center;
			height: 100px;
		}
	}
}