@import "color_defination";

.white {
  color: white;
}

.purple {
	color: #75039e;
}


.dark-purple {
	color: #3e0053;
}

.yellow {
	color: #fffc00;
}

.dark-yellow {
	color: #ffb500;
}

.gray{
	color: #dfdfdf;
}

.yellow-linear-gradient {
	background:         linear-gradient(#fffc00, #ffb500);
	background:    -moz-linear-gradient(#fffc00, #ffb500);
	background: -webkit-linear-gradient(#fffc00, #ffb500);
}

.purple-back {
	background-color: #75039e;
	color: yellow;
	font-size: 20px;
	padding: 5px;
}

.light-purple-back {
	background-color: $light_purple;
	color: yellow;
	font-size: 20px;
	padding: 5px;
	border-bottom:1px solid #eeeeee;
}
.col-lg-8.center-block.profile{
	.panel-body{
		background-color:#75039e;
	}
	.col-md-4{
		color:yellow;
	}
	.col-md-8{
		color:white;
	}
}
