@import "color_defination";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 60px 0;
}

.container {
  margin: auto;
  width: 80%;
}

#header {
  margin: 0;
  background-color: black;
  .navbar-brand {
    padding: 0 15px;
    height: 72px;
  }
  .navbar-search {
    width: 30%;
    min-width: 330px;
    margin: 20px 0 20px 12%;
    border: 1px solid rgb(147, 67, 207);
    height: 30px;
    border-radius: 6px;
    label {
      position: relative;
      left: -30%;
      color: white;
      float: left;
    }
    form#search {
      width: 100%;
      margin-top: -8%;
      padding: 0;
      padding-left: 10px;
      height: 30px;
      float: left;
      input#query {
        width: 90%;
        padding: 0;
        height: 28px;
        background: none;
        color: rgb(255, 255, 255);
        float: left;
        border: none;
        outline:none;
        padding-top: 40px;
      }
      span.glyphicon-search {
        float: right;
        margin: 3px 5px;
        color: white;
        font-size: 20px;
        padding-top:25px;
      }
    }
  }
  .navbar-right {
    width: 360px;
    height: 36px;
    margin: 18px 0;
    float: right;
    ul#user {
      width: 55%;
      padding: 0;
      margin: 0;
      background: rgb(62, 0, 83);
      border-top-left-radius: 6px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 6px;
      height: 35px;
      float: left;
      list-style: none;
      li {
        float: left;
        padding: 7px 10px;
        color: rgb(223, 130, 255);
        font-size: 14px;
        list-style: none;
        background: url(devider.jpg) 100% 50% no-repeat;
        &:last-child {
          background: none;
        }
        a {
          color: rgb(223, 130, 255);
          &:hover {
            color: rgb(223, 130, 255);
            text-decoration: none;
          }
        }
      }
    }
    #city {
      width: 45%;
      background: rgb(119, 2, 159);
      border-top-left-radius: 0px;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 0px;
      height: 35px;
      float: left;
      font-size: 14px;
      line-height: 15px;
      padding: 10px 15px;
      span.glyphicon-map-marker {
        color: white;
      }
      a {
        color: rgb(223, 130, 255);
        padding-left: 8px;
        &:hover {
          color: rgb(223, 130, 255);
          text-decoration: none;
        }
      }
    }
  }
}

#wrap {
  padding: 73px 0 30px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: black;
  .text-muted {
    width: 100%;
    margin: 12px 0 0 0;
    float: left;
    span {
      display: block;
      float: left;
      margin-right: 20px;
      color: #fff200;
      font-size: 12px;
      a {
        font-size: 12px;
        font-weight: 300px;
        color: #fff200;
        &:hover {
          color: #fff200;
          text-decoration: none;
        }
      }
      &.purple {
        margin: 0 5px;
        color: #c005ff;
      }
    }
    .copyrights {
      font-size: 12px;
      span {
        color: #7f7e7e;
      }
    }
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align:center;
}

.clear {
  clear: both;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.detail {
  [class^=col-md] {
    padding-top: 10px;
  }
}

.avatar {
  height: 40px;
  margin: 0px;
  width:  40px;

  img {
    height: 100%;
    border-radius: 10%;
  }
}

.big_avatar img {
  width: 100%;
}

.alert {
  margin: 0;
}

#body-container {
  margin-top: 10px;
}

.opensans {
  font-family: opensans;
}

.league-gothic {
  font-family: LeagueGothic;
}
.bold {
  font-weight: bold;
}

.semibold {
  font-weight: 500;
}

.rock {
  font-family: rock;
}

h2,h3,h4,h5,h6 {
  @extend .opensans;
}

.circle-angle {
  border-radius: 5px;
}

.vertical-center {
  vertical-align: middle;
}

table {
  background-color: $light_purple;
  color: white;
  tr td {
    background-color: $light_purple;
  }
}

.button-as-link {
  background:none!important;
  border:none;
  padding:0!important;
}