#topbar {
  background-color: #ffb400;
  width: 100%;
  ul {
    margin: 0;
    padding: 0;
    height: 43px;
    list-style: none;
    li {
      height: 100%;
      float: left;
      color: #f1f1f1;
      line-height: 36px;
      position: relative;
      background: #ffb400;
      border-right: 1px #ffcc00 solid;
      &:last-child {
        border-right: none;
      }
      a {
        font-size: 13px;
        color: black;
        line-height: 9px;
        padding: 17px 10px;
        text-decoration: none;
        display: block;
        &.selected {
          color: #FFF;
          text-decoration: none;
          background: #662d91;
        }
        &:hover {
          color: #FFF;
          text-decoration: none;
          background: #662d91;
        }
      }
    }
  }
}

#main {
  margin-top: 20px;
}

#search_area {
  background-color: #3e0053;
  p.title {
    padding-left: 20px;
    background: #51026b;
    color: white;
    font-size: 25px;
    line-height: 40px;
		font-family: rock;
  }
  p.subtitle {
    padding-left: 20px;
    color: #fff200;
    font-size: 13px;
    line-height: 30px;
  }
  form {
    padding: 0 20px 10px 20px;
    label {
      color: white;
      font-weight: normal;
    }
    input[type='text'], select, option {
      border: 1px solid #a81ed6;
      color: white;
      font-size: 13px;
      background: none;
    }
    input[type='submit'] {
      width: 100%;
      text-align: center;
      background: linear-gradient(#ffb500, #fffc00 );
      background: -webkit-linear-gradient(#ffb500, #fffc00 );
      background: -moz-linear-gradient(#ffb500, #fffc00 );
    }
  }
}

#slider {
  width: 100%;
	.slides {
	  height: 270px;
		overflow: hidden;
	}
}

#top-deals {
  width: 100%;
  p.title {
    background-color: #fff200;
    font-size: 22px;
    font-weight: 500;
		font-style:500;
		font-family:Oswald;
    color: #3e0053;
    line-height: 35px;
    padding-left: 20px;
    margin: 0;
  }
  .arrow {
    text-align: center;
    line-height: 9px;
  }
  .row {
    margin: 20px 0;
    .col-md-6:first-child {
      padding-left: 0;
    }
    .col-md-6:last-child {
      padding-right: 0;
    }
  }
  .ticket {
    a img {
      width: 48%;
      margin-right: 2%;
      float: left;
    }
    .caption {
      width: 50%;
      float: left;
      .desc {
        overflow: hidden;
        height: 38px;
      }
      .flat-discount {
        font-size: 18px;
      }
      h3 {
        color: white;
        margin: 0;
        padding: 0;
        background-color: #3e0053;
        line-height: 30px;
        font-size: 17px;
        font-weight: bold;
        &.discount {
          width: 80%;
          background: #3e0053;
          margin: 7px 0;
          text-align: center;
          color: #fff200;
        }
        a {
          color: white;
          margin-left: 5px;
        }
      }
    }
  }
}
