#topbar {
  background-color: #ffb400;
  width: 100%;
  ul {
    margin: 0;
    padding: 0;
    height: 43px;
    list-style: none;
    li {
      height: 100%;
      float: left;
      color: #f1f1f1;
      line-height: 36px;
      position: relative;
      background: #ffb400;
      border-right: 1px #ffcc00 solid;
      &:last-child {
        border-right: none;
      }
      a {
        font-size: 13px;
        color: black;
        line-height: 9px;
        padding: 17px 10px;
        text-decoration: none;
        display: block;
        &.selected {
          color: #FFF;
          text-decoration: none;
          background: #662d91;
        }
        &:hover {
          color: #FFF;
          text-decoration: none;
          background: #662d91;
        }
      }
    }
  }
  &.nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
     border-left: 1px solid #fff; 
  }
  &.nav-justified > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-weight: bold;
    color: #777;
    text-align: center;
    background-color: #e5e5e5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
    background-image: -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(top), color-stop(0%, #f5f5f5), to(#e5e5e5));
    background-image: linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 );
    background-repeat: repeat-x;
    border-bottom: 1px solid #d5d5d5;
  }
}

#main {
  margin-top: 20px;
}

#slider {
  width: 100%;
}

#top-deals {
  width: 100%;
}
