.main {
  min-height: 400px;
  .img-section {
    float: left;
    width: 34%;
    .ticket-image {
      width: 100%;
    }
  }

  .info-section {
    float: left;
    width: 50%;

    .info {
      margin: 10px 0px;

      .title {
        float: left;
        width: 20%;
        text-align: left;
        font-weight: bold;

      }

      .value {
        float: left;
        width: 80%;
      }

      &:before,
      &:after {
        content: " ";
        display: table;
      }

      &:after {
        clear: both;
      }
    }
  }
}

.new-ticket {
  background-color: #3e0053;
  padding: 4% 8%;
  border-radius: 18px;
  h1 {
    color: yellow;
    text-align: center;
  }
  form {
    label {
      color: white;
    }
  }
}
