#show-ticket {
	h1 {
		font-family: LeagueGothic;
	}
  .purple-back {
  	background-color: #fff;
		color: #75039e;
		font-size: 20px;
		padding: 5px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  }
	.light-purple {
		font-size: 14px;
		color: #75039e;
	}
	img {
		width: 300px;
		height: 350px;
		overflow: hidden;
	}
	
	label {
		font-weight: normal;
	}
  .category_name{
    font-size:24px;
    font-family: LeagueGothic;
  }
  .original_price{
    color:#75039e;
  }
  .price_tier{
    font-size:24px;
    font-family: LeagueGothic;
  }
  .discount_text{
    font-size:24px;
    margin-left:0;
    font-family: LeagueGothic;
  }
  #ticket-favorite{
    margin-left:30px;
  }
}
