#show-ticket {
	h1 {
		font-family: LeagueGothic;
	}
  .purple-back {
  	background-color: #75039e;
		color: yellow;
		font-size: 20px;
		padding: 5px;
  }
	.light-purple {
		font-size: 22px;
		color: #75039e;
	}
	img {
		width: 300px;
		height: 350px;
		overflow: hidden;
	}
	
	label {
		font-weight: normal;
	}
}