<div class="header">
  <h1 class="text-center league-gothic">Order Listing</h1>
</div>
<div class="order-lists table-responsive">
	<%= render 'table' %>
</div>
<%= paginate @orders %>
<%= page_entries_info @orders %>