<%= form_for([:mine, current_user.vote_merchants.find_by(favorite_venue_id: @user.id)],
             html: { method: :delete },
						 remote: true )  do |f|%>
  <h2 class='text-center'>
		Merchant Profile
		<button class="button-as-link">
			<span id="merchant-favorite" class='glyphicon glyphicon-star purple'></span>
		</button>
	</h2>
<% end %>