<h2 class='text-center'>
  <% @user.try(:merchant_info).try(:orgnization) %>
  <% if current_user != @user %>
    <%= link_to like_merchant_path(@user), class: "button-as-link", method: :post, remote: true do %>
      <% if current_user.try(:voted?, @user) %>
        <span id="merchant-favorite" class='glyphicon glyphicon-star purple'></span>
      <% else %>
        <span id="merchant-favorite" class='glyphicon glyphicon-star-empty purple'></span>
      <% end %>
    <% end %>
  <% end %>
</h2>