<%= form_for [:mine, current_user.vote_merchants.build(favorite_venue_id: @user.id)], remote: true do |f| %>
  <%= f.hidden_field :favorite_venue_id %>
  <h2 class='text-center'>
		Merchant Profile
		<button class="button-as-link">
			<span id="merchant-favorite" class='glyphicon glyphicon-star-empty purple'></span>
		</button>
	</h2>
<% end %>