<div class="modal fade" id="change_city" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Set City</h4>
      </div>
      <div class="modal-body">
        <%= form_tag set_city_path, method: :get do %>
          <%= select_tag 'city', options_for_select(Ticket::CITIES, session_city), class: 'form-control' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id='city_confirm'>Confirm</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
