<div class='footer'>
  <div class='container'>
    <div class='text-muted'>
      <div class='left'>
        <span><a href='#'>ABOUT</a></span>
        <span><a href='#'>FAQ</a></span>
        <span><a href='#'>Terms of Services</a></span>
        <span><a href='#'>Privacy Policy</a></span>
      </div>
      <div class='right'>
        <span>© 2014 GroupEt, LLC.</span>
      </div>
    </div>
  </div>
</div>
