<div class='footer'>
  <div class='container'>
    <div class='text-muted'>
      <div class='left'>
        <span class='purple'>CONTACT US: </span>
        <span>info@group-et.com</span>
      </div>
      <div class='right'>
        <span><a href='#'>TERMS OF SERVICE</a></span>
        <span><a href='#'>PRIVACY POLICY</a></span>
        <span><a href='#'>FAQ</a></span>
        <span><a href='#'>ABOUT US</a></span>
      </div>
    </div>
    <div class="text-muted">
      <div class="right copyrights">
        <span>© 2014 GROUPET, LLC.</span>
      </div>
    </div>
  </div>
</div>
